# Python
__pycache__/
*.pyc

# Virtual environments
venv/
.env/

# OS
.DS_Store

# Data files
data/reference/*
data/live/*

# SQLite
*.db

# Streamlit
.streamlit/
# PyPI Build Artifacts
dist/
build/
*.egg-info/

# Local Dashboard Data & Databases
dashboard_web/data/*.json
dashboard_web/data/*.html
dashboard_web/data/*.touch
dashboard_web/data/*.db